<!DOCTYPE html>
<html>
  <head>
    <title>Pfj1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-one-page-wonder/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https:https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-one-page-wonder/css/one-page-wonder.min.css">


  </head>

  <body>

  <!-- Navigation -->

<!-- Image and text -->
<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <%= image_tag("minimizelogo.png")%> 
    </a>
  </nav>
</div>


    <%= yield %>



    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; pulsefirejob.com 2018
      </div>
    </footer>

  </body>
</html>
